<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido al proyecto TFG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TFG Gabriel</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Redes<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'redes:interfaces' %}">Interfaces de red</a></li>
                        <li><a class="dropdown-item" href="{% url 'redes:dhcp' %}">DHCP</a></li>
                        <li><a class="dropdown-item" href="{% url 'redes:enrutamiento' %}">Enrutamiento</a></li>
                        <li><a class="dropdown-item" href="{% url 'redes:pingtester' %}">Ping Tester</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuarios<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'usuarios:crear_usuario' %}">Creación de usuarios</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:modificar_usuario' %}">Modificación de usuarios</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:eliminar_usuario' %}">Eliminación de usuarios</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:analizar_contrasena' %}">Analizador de contraseñas</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:configurar_permisos' %}">Configurador de permisos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Seguridad<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'seguridad:firewall' %}">Firewall</a></li>
                        <li><a class="dropdown-item" href="{% url 'seguridad:proxy' %}">Proxy</a></li>
                        <li><a class="dropdown-item" href="{% url 'seguridad:certificados' %}">Certificados SSL/TLS</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Copias<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'copias:configuracion_backups' %}">Configuración copias de seguridad locales</a></li>
                        <li><a class="dropdown-item" href="{% url 'copias:programar_copia' %}">Programación de copias de seguridad</a></li>
                        <li><a class="dropdown-item" href="{% url 'copias:configuracion_nas' %}">Configuración NAS</a></li>
                        <li><a class="dropdown-item" href="{% url 'copias:subida_archivos_nas' %}">Subida de archivos al NAS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Bienvenido al proyecto TFG</h1>
	<p>Soy Gabriel Gutiérrez Segovia, alumno de 2º de ASIR del centro IES Pablo Serrano localizado en la localidad de Zaragoza. Esto que vas a encontrar aquí no es más que mi proyecto de final de grado.</p>
        <p>Exactamente, está diseñado para facilitar la configuración de scripts relacionados con la administración de sistemas en entornos Linux. Aquí podrás encontrar scripts predefinidos que te ayudarán en tareas 
	comunes como la configuración de redes, la administración de reglas de firewall y la realización de copias de seguridad, entre otras.</p><br>

        <h2>¿Cómo funciona?</h2>
        <p>El funcionamiento de esta plataforma es sencillo y se divide en tres pasos principales:</p>
        <ul>
            <li><strong>Selecciona el Script</strong>: Navega por las diferentes categorías disponibles y selecciona el script que deseas configurar. Las categorías incluyen <strong>Redes</strong>, <strong>Seguridad</strong>, 
	    <strong>Copias de Seguridad</strong> y <strong>Usuarios</strong>.</li>

            <li><strong>Configura los Valores</strong>: A través de una interfaz web intuitiva, introduce los valores necesarios para personalizar el script seleccionado. La plataforma actualizará automáticamente el script con los 
		valores proporcionados.</li>
            <li><strong>Descarga y Ejecuta</strong>: Una vez configurado, podrás descargar el script listo para ser ejecutado en tu sistema. Solo tendrás que guardarlo y ejecutarlo en tu entorno para aplicar la configuración 
		establecida.</li>
        </ul><br>
       
        <h2>Navegación por la Plataforma</h2>
        <p>Para navegar por la plataforma, simplemente selecciona una de las categorías en el menú principal. Dentro de cada categoría, encontrarás una lista de scripts disponibles junto con un formulario para introducir los valores 
	necesarios para su configuración.</p>
        
	<p>Esperamos que esta plataforma te sea de gran ayuda en tus tareas de administración de sistemas. Si tienes alguna duda o necesitas asistencia, no dudes en contactarnos.</p>
        <p><strong>¡Gracias por utilizar nuestra plataforma!</strong></p>
    </div><br>
    <footer class="container-fluid text-center">
        <p>&copy; 2024 Plataforma de Configuración de Scripts. Todos los derechos reservados.</p>
	<p>Gmail de contacto: aa20.ggutierrez19@iespabloserrano.com</p>
	<p>Telefono de contacto: 665905461</p>
    </footer>
    <div class="script_zone"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3
