<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ping Tester</title>
</head>
<body>
    <h1>Ping Tester</h1>
    <p>Como todo en la informática, siempre y cuando se apliquen cambios en uno de los equipos habrá que comprobar que, no solo estos
    cambios han sido aplicados, sino también que funcionan y hacen funcionar al equipo a la perfección.</p>
    <p>Por ello, se ha implementado esta estructura de ping tester, ya que no hay mejor manera de comprobar cambios en las redes
    que con un ping. Se almacenarán en un histórico todas pruebas realizadas, de tal forma que tengamos todos cambios registrados con sus resultados.</p><br><br>
	
    {% if mensaje_error %}
        <p>{{ mensaje_error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="nombre_equipo">Nombre del equipo:</label><br>
        <input type="text" id="nombre_equipo" name="nombre_equipo" placeholder="Nombre de la maquina destino"><br><br>

        <label for="direccion_ip">Dirección IP:</label><br>
        <input type="text" id="direccion_ip" name="direccion_ip" placeholder="Ej: 192.168.100.254"><br><br>

        <label for="num_intentos">Número de intentos de ping:</label><br>
        <input type="number" id="num_intentos" name="num_intentos" value="4" min="1" max="10" placeholder="Numero del 1 al 10"><br><br>
	
	<label for="historico">Ruta para histórico:</label><br>
        <input type="text" id="historico" name="historico" placeholder="Ej: /home/gabriel"><br><br>

        <button type="submit">Realizar prueba de ping</button>
    </form>
</body>
</html>
