<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generación de Certificados SSL/TLS</title>
</head>
<body>
    <h1>Generación de Certificados SSL/TLS</h1>

    {% if mensaje_error %}
        <p>{{ mensaje_error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="id_nombre_certificado">Nombre del certificado:</label><br>
        <input type="text" id="id_nombre_certificado" name="nombre_certificado" placeholder="Ej: mi_certificado" required><br><br>

        <label for="id_organizacion">Organización:</label><br>
        <input type="text" id="id_organizacion" name="organizacion" placeholder="Ej: Mi Empresa S.A."><br><br>

        <label for="id_unidad_organizacional">Unidad organizacional:</label><br>
        <input type="text" id="id_unidad_organizacional" name="unidad_organizacional" placeholder="Ej: Departamento de TI"><br><br>

        <label for="id_localidad">Localidad:</label><br>
        <input type="text" id="id_localidad" name="localidad" placeholder="Ej: Ciudad"><br><br>

        <label for="id_provincia">Provincia:</label><br>
        <input type="text" id="id_provincia" name="provincia" placeholder="Ej: Provincia"><br><br>

        <label for="id_pais">País:</label><br>
        <input type="text" id="id_pais" name="pais" placeholder="Ej: ES"><br><br>

        <label for="id_correo_electronico">Correo electrónico:</label><br>
        <input type="email" id="id_correo_electronico" name="correo_electronico" placeholder="Ej: correo@ejemplo.com"><br><br>

        <label for="id_departamento">Departamento:</label><br>
        <input type="text" id="id_departamento" name="departamento" placeholder="Ej: Seguridad"><br><br>

        <label for="id_clave">Clave:</label><br>
        <input type="password" id="id_clave" name="clave" placeholder="Introduce una clave segura" required><br><br>

        <label for="id_repeticion_clave">Repetir Clave:</label><br>
        <input type="password" id="id_repeticion_clave" name="repeticion_clave" placeholder="Repite la clave" required><br><br>

        <label for="id_comentarios">Comentarios:</label><br>
        <textarea id="id_comentarios" name="comentarios" placeholder="Cualquier comentario adicional"></textarea><br><br>

        <label for="directorio_salida">Directorio de Salida:</label><br>
        <input type="text" id="directorio_salida" name="directorio_salida" placeholder="Ej: /ruta/al/directorio" required><br><br>

        <input type="submit" value="Generar Certificado">
    </form>
</body>
</html>
