<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminación de Usuario</title>
</head>
<body>
    <h1>Eliminación de Usuario</h1>

    {% if mensaje_error %}
    <p>{{ mensaje_error }}</p>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        <label for="nombre_usuario">Nombre de usuario:</label><br>
        <input type="text" id="nombre_usuario" name="nombre_usuario" placeholder="Nombre de usuario a eliminar" required><br><br>

        <label for="directorio_copia">Directorio para la copia de seguridad:</label><br>
        <input type="text" id="directorio_copia" name="directorio_copia" placeholder="Ruta del directorio de copia de seguridad"><br><br>

	<label for="realizar_copia">Realizar copia de seguridad:</label>
        <input type="checkbox" id="realizar_copia" name="realizar_copia" value="S"><br><br>    

        <label for="eliminar_correo">Eliminar correo:</label>
        <input type="checkbox" id="eliminar_correo" name="eliminar_correo" value="S"><br><br>

        <label for="eliminar_crontab">Eliminar crontab:</label>
        <input type="checkbox" id="eliminar_crontab" name="eliminar_crontab" value="S"><br><br>

        <label for="forzar_eliminacion">Forzar eliminación:</label>
        <input type="checkbox" id="forzar_eliminacion" name="forzar_eliminacion" value="S"><br><br>

        <label for="eliminar_grupos">Eliminar de todos los grupos secundarios:</label>
        <input type="checkbox" id="eliminar_grupos" name="eliminar_grupos" value="S"><br><br>

        <label for="eliminar_home">Eliminar directorio de inicio y correo del sistema:</label>
        <input type="checkbox" id="eliminar_home" name="eliminar_home" value="S"><br><br>

        <button type="submit">Eliminar Usuario</button>
    </form>
</body>
</html>
