<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificación de Usuario</title>
</head>
<body>
    <h1>Modificación de Usuario</h1>
    <p>Al igual que se ha implementado una estructura para crear usuarios Linux, si queremos completar al máximo una implementación sobre gestión de usuarios hace
    falta también la modificación de ellos. Por ello tenemos esta implementación, para no solo tener una simple creación.</p><br><br>
	
    {% if mensaje_error %}
	<p>{{ mensaje_error }}</p>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        <label for="nombre_usuario">Nombre de usuario:</label><br>
        <input type="text" id="nombre_usuario" name="nombre_usuario" placeholder="Nombre que quieras que tenga el usuario"><br><br>

        <label for="contrasena">Nueva contraseña:</label><br>
        <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña asignada al inicio de sesión del usuario"><br><br>

        <label for="grupo_principal">Nuevo grupo principal:</label><br>
        <input type="text" id="grupo_principal" name="grupo_principal" placeholder="Grupo al que va a pertenecer el usuario"><br><br>

        <label for="otros_grupos">Otros grupos (separados por comas):</label><br>
        <input type="text" id="otros_grupos" name="otros_grupos" placeholder="Otros grupos a los que pertenecerá"><br><br>

        <label for="nombre_completo">Nombre completo:</label><br>
        <input type="text" id="nombre_completo" name="nombre_completo" placeholder="Nombre completo del usuario"><br><br>

        <label for="skel">Directorio skel:</label><br>
        <input type="text" id="skel" name="skel" placeholder="Nuevo esqueleto. Ej: /etc/skel"><br><br>

        <label for="home">Directorio home:</label><br>
        <input type="text" id="home" name="home" placeholder="Nuevo Directorio principal. Ej: /home/usuario"><br><br>

        <label for="shell">Shell:</label><br>
        <input type="text" id="shell" name="shell" placeholder="/bin/bash o /bin/sh o /bin/zsh"><br><br>

        <label for="expire">Fecha de expiración de la cuenta:</label><br>
        <input type="text" id="expire" name="expire" placeholder="Dia/Mes/Año"><br><br>

        <label for="uid">UID:</label><br>
        <input type="text" id="uid" name="uid" placeholder="Ej: 1002"><br><br>

        <label for="gid">GID:</label><br>
        <input type="text" id="gid" name="gid" placeholder="Ej: 1050"><br><br>

        <label for="inactive">Días de inactividad antes de bloquear la cuenta:</label><br>
        <input type="text" id="inactive" name="inactive" placeholder="Introducir numero"><br><br>

        <button type="submit">Modificar Usuario</button>
    </form>
</body>
</html>
